@import '../../../styles';

.delete-icon {
  color: lightcoral;
  margin-left: 10px;
}

.edit-icon {
  color: lightgray;
}

.material-icons {
  cursor: pointer;
}

.card {
  box-shadow: none;
}

.modal-close {
  color: white;
}

.card-title{
  font-weight: 600;
}
