<a (click)="toggleWindow()" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
<div class="card" *ngIf="addWindowHidden">
  <div class="card-content">
    <div class="flex justify-content-space-between">
      <span class="card-title">Dodaj pytanie</span><i (click)="toggleWindow()" class="fa fa-compress cursor-pointer"></i>
    </div>
    <form (ngSubmit)="onSubmit()" class="col">
      <div class="row">
        <div class="input-field">
          <input type="text" placeholder="Dodaj tytuł" [(ngModel)]="question.title" name="title">
        </div>
        <div class="input-field">
          <textarea placeholder="Dodaj odpowiedź" [(ngModel)]="question.answer" name="answer" id="textarea1" class="materialize-textarea"></textarea>
        </div>
        <input type="submit" value="Dodaj" class="btn">
      </div>
    </form>
  </div>
</div>
