<div class="card">
  <div class="card-content">
    <span class="card-title">Dodaj pytanie</span>
    <form (ngSubmit)="onSubmit()" class="col">
      <div class="row">
        <div class="input-field">
          <input type="text" placeholder="Dodaj tytuł" [(ngModel)]="question.title" name="title">
        </div>
        <div class="input-field">
          <textarea placeholder="Dodaj odpowiedź" [(ngModel)]="question.answer" name="answer" id="textarea1" class="materialize-textarea"></textarea>
        </div>
        <input type="submit" value="Dodaj" class="btn">
      </div>
    </form>
  </div>
</div>
