<!-- Nav Bar -->
<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right">
      <li><a (click)="pathChange('HTML')">HTML</a></li>
      <li><a (click)="pathChange('CSS')">CSS</a></li>
      <li><a (click)="pathChange('JavaScript')">JavaScript</a></li>
      <li><a (click)="pathChange('Angular')">Angular</a></li>
      <li><a (click)="pathChange('TypeScript')">TypeScript</a></li>
    </ul>
  </div>
</nav>

<!-- Header -->
<h4 class="text-align-center">{{collectionPath}}</h4>

<!-- Main Container -->
<div class="main-container">

  <!-- Add Question Component -->
  <div *ngIf="!editState">
    <a (click)="toggleWindow()" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
    <div class="card" *ngIf="addWindowHidden">
      <div class="card-content">
        <div class="flex justify-content-space-between">
          <span class="card-title">Dodaj pytanie</span><i (click)="toggleWindow()" class="fa fa-compress cursor-pointer"></i>
        </div>
        <form (ngSubmit)="addQuestion()" class="col">
          <div class="row">
            <div class="input-field">
              <label for="title">Dodaj tytuł</label>
              <input id="title" type="text"[(ngModel)]="newQuestion.title" name="title">
            </div>
            <div class="input-field">
              <label for="answer">Dodaj odpowiedź</label>
              <textarea id="answer" [(ngModel)]="newQuestion.answer" name="answer" id="textarea2" class="materialize-textarea"></textarea>
            </div>
            <input type="submit" value="Dodaj" class="btn">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Question List -->
  <div *ngIf="questions?.length > 0; else noItems" >
    <ul class="collection" *ngFor="let question of questions">
      <ng-container  *ngIf="question.state === 0">
        <li appHighlight (click)="toggleAnswer(answer)" class="collection-item flex justify-content-space-between cursor-pointer">
          <strong >{{question.title}}</strong>
          <div *ngIf="!editState">
            <i (click)="editQuestion($event, question)" class="material-icons edit-icon">edit</i>
            <a href="#modal1" (click)="setQuestionToDelete(question)" class="material-icons delete-icon modal-trigger">delete</a>
          </div>
        </li>
        <li [hidden]="true" #answer class="collection-item">{{question.answer}}</li>
      </ng-container>

      <!-- Edit Question Form-->
      <ng-container *ngIf="question.state === 1 && questionToEdit.id === question.id">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Edytuj pytanie</span>
            <form>
              <div class="row">
                <div class="input-field">
                  <input type="text" placeholder="Dodaj tytuł" [(ngModel)]="question.title" name="title">
                </div>
                <div class="input-field">
                  <textarea placeholder="Dodaj odpowiedź" [(ngModel)]="question.answer" name="answer" id="textarea1" class="materialize-textarea"></textarea>
                </div>
                <input (click)="updateQuestion(question)" type="btn" value="Zapisz" class="btn blue">
                <input (click)="cancelEdit(question)" type="btn" value="Anuluj" class="btn grey">
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </ul>
  </div>
</div>

<!-- No elements -->
<ng-template #noItems>
  <hr>
  <h5>Brak elementów do wyświetlenia</h5>
</ng-template>


<!-- Modal -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h6>Czy na pewno chcesz usunąć pytanie?</h6>
  </div>
  <div class="modal-footer">
    <a (click)="deleteQuestion()"  class="modal-close waves-effect waves-green btn-flat blue">Tak</a>
    <a class="modal-close waves-effect waves-green btn-flat grey">Nie</a>
  </div>
</div>
