<!--<header>-->
<!--  <nav>-->
<!--    <div class="nav-wrapper">-->
<!--      <ul id="nav-mobile" class="right">-->
<!--        <li *ngFor="let questionType of questionTypeList">-->
<!--          <a (click)="pathChange(questionType.name)">{{questionType}}</a>-->
<!--        </li>-->
<!--        <li><a (click)="pathChange('HTML')">HTML</a></li>-->
<!--        <li><a (click)="pathChange('CSS')">CSS</a></li>-->
<!--        <li><a (click)="pathChange('js')">JavaScript</a></li>-->
<!--        <li><a (click)="pathChange('Angular')">Angular</a></li>-->
<!--        <li><a (click)="pathChange('TypeScript')">TypeScript</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->

Hej this is header component
